<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTDConfig 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.cjz.vo" />
    </typeAliases>

    <mappers>
        <mapper resource="com/cjz/vo/user.mapper.xml" />
    </mappers>
</configuration>